/* blocodenotas.css
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
    padding: 0 40px;
    width: 100%;
}

.container .text-muted {
    margin: 20px 0;
}

.page-header {
    background-color: #3095C5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 56px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 5px 5px 0;
}

.page-header h1 small, .h1 small {
    font-size: 70%;
    color: #ffffff;
    padding-left: 5px;
}

.top-menu, .top-menu a .top-menu a:hover, .top-menu a:visited {
    color: #ffffff;
    float: right;
    font-size: 22px;
    margin-right: 20px;
}

p.top-menu {
    margin-top: 25px;
}

.space-right {
    padding-right: 15px;
}
.content {
    margin-left: 40px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #6B6A6A;
}

h1, .h1 {
    font-size: 40px;
}

h2, .h2 {
    font-size: 36px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.block textarea, .block input {
    width: 100%;
    padding: 3px 10px;
}

.block textarea {
    height: 150px;
}



.block label {
    display: block;
    max-width: 100%;
    margin: 5px 0;
    font-weight: 700;
}

.login .block input {
    width: 230px; 
    margin-bottom: 10px;
}

.login {
    margin-right: 40px;
    margin-top: 20px;
}

.login ul.errorlist {
    color: #a94442;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
.login .jumbotron {
    padding-top: 20px; 
    padding-bottom: 30px; 
}
}

@media screen and (min-width: 768px) {
.login .jumbotron h1, .login .jumbotron .h1 {
    font-size: 48px;
}
}

.login .jumbotron p {
    margin-top: -10px;
    font-size: 18px;
}

.nota {
    width: 50%;
}

hr.white {
    border: 1px solid #fff;
}

hr.gray {
    border: 1px solid #E8E7E7;
}

.box-notes {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.box-notes-list {
    padding-left: 0;
    list-style: none;
}

.box-notes li {
    float: left;
    min-width: 200px;
    min-height: 80px;
    padding: 20px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    background-color: #F1F1F1;
    border: 10px solid #fff;
    color: #727272;
}

.box-notes li:hover {
    /* color: #000; */
    background-color: #E2EDF3;
}


.box-notes li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #7d7d7d;
	padding-right: 15px;
}

.box-notes li a:hover  {
	color: #5696B5;
	font-weight: 500;
	/* text-decoration: none; */
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #fff !important;
	background-color: #679ECE;
    border-color: #5A8EBB;
}

.box-notes-detail {
    margin: 0 -20px 30px;
    overflow: hidden;
    float: left;
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    padding: 10px 40px 25px 40px;
    font-size: 22px;
    line-height: 1.4;
    background-color: #F1F1F1;
    border: 10px solid #fff;
    color: #727272;
}

.box-notes-detail small, .box-notes-detail .small {
    font-size: 65%;
}

.box-notes-detail:hover  {
	/* background-color: #E2EDF3; */
}

.notes-edit textarea, .notes-edit input {
	font-size: 18px;
}

.notes-nav-footer {
	padding-bottom: 40px;
}

.notes-nav-footer a {
	margin-right: 10px;
}

.notes-col3 {
    width: 33.3%;
    text-align: left !important;
}