/* blocodenotas.css
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
    padding: 0 40px;
    width: 100%;
}

.container .text-muted {
    margin: 20px 0;
}

.page-header {
    background-color: #3095C5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 56px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 5px 5px 0;
}

.page-header h1 small, .h1 small {
    font-size: 70%;
    color: #ffffff;
    padding-left: 5px;
}

.top-menu, .top-menu a .top-menu a:hover, .top-menu a:visited {
    color: #ffffff;
    float: right;
    font-size: 22px;
    margin-right: 20px;
}

p.top-menu {
    margin-top: 25px;
}

.space-right {
    padding-right: 15px;
}
.content {
    margin-left: 40px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

h1, .h1 {
    font-size: 40px;
}

h2, .h2 {
    font-size: 36px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.block textarea, .block input {
    width: 100%;
}


.block label {
    display: block;
    max-width: 100%;
    margin: 5px 0;
    font-weight: 700;
}

.login .block input {
    width: 230px; 
    margin-bottom: 10px;
}

.login {
    margin-right: 40px;
    margin-top: 20px;
}

.login ul.errorlist {
    color: #a94442;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
.login .jumbotron {
    padding-top: 20px; 
    padding-bottom: 30px; 
}
}

@media screen and (min-width: 768px) {
.login .jumbotron h1, .login .jumbotron .h1 {
    font-size: 48px;
}
}

.login .jumbotron p {
    margin-top: -10px;
    font-size: 18px;
}