{% extends "blocodenotas/base.html" %}

{% block content %}

<div class="login">
  {% if form.errors %}
  <p class="alert alert-danger" role="alert">Dados de autenticação inválidos! Por favor tente de novo.</p>
  {% endif %}

  <div class="jumbotron">
    <h1>Autenticação</h1>
    <p>Faça login para aceder à sua área pessoal</p>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <ul class="list-unstyled block">
        {{form.as_ul}}
      </ul>

      <input type="submit" value="LOGIN" class="btn btn-primary">

    </form>

  </div>
</div>



{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}