{% load staticfiles %}
<html>
    <head>
        <title>You.Note.it - Online NoteBook</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/blocodenotas.css" %}">
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <p class="top-menu">
            <span class="space-right">Bem-vindo {{ user.first_name }} <small>(<a class="" href="{% url "password_change" %}">Alterar Password</a>)</small></span>
            <a class="btn btn-warning btn-default" href="{% url "logout" %}">Log out <span class="glyphicon glyphicon-log-out"></span></a>
         </p>
        {% else %}
        <a href="{% url "login" %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">You.note.it <small>Online NoteBook</small></a></h1>
    </div>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="{% url "home" %}">Home</a> | <a href="{% url "logout" %}">Logout</a> <span class="pull-right">Created by António Semedo (2015) - Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></span></p>
      </div>
    </footer>
</body>
</html>