{% extends "blocodenotas/base.html" %}

{% block content %}

<h1>Notas</h1>
<ul class="list-unstyled">
    {% for nota in notas %}
        <li>
            <a href="{% url "notas_view" pk=nota.id %}">{{ nota }}</a>
            <a href="{% url "notas_edit" pk=nota.id %}">[editar]</a>
            <a href="{% url "notas_delete" pk=nota.id %}">[eliminar]</a>
        </li>
    {% endfor %}
</ul>

<p><a class="btn btn-primary btn-default" href="{% url "notas_new" %}">Criar Nota</a></p>

{% endblock %}