{% extends "blocodenotas/base.html" %}

{% block content %}

<h1>Dados do utilizador {{ user }}</h1>
<p>Nome de utilizador: {{ user.username }}</p>
<p>Nome completo: {{ user.first_name }} {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Grupos:
{% for group in user.groups.all %}
    {{ group }}; 
{% endfor %}
</p>

<p>
    <a class="btn btn-primary btn-default" href="{% url "users_edit" pk=user.id %}">editar</a> 
    <a class="btn btn-primary btn-default" href="{% url "users_delete" pk=user.id %}">eliminar</a>
<p>

{% endblock %}